.nav-up{
    height: 35px;
    background-color: black;
}
    .nav-up-left{
        display: flex;
    }
    .nav-up-left .icon{
        color: goldenrod;
        margin-top: 5px;
    }
    .nav-up-left span{
        color: rgb(202, 199, 199);
        margin-top: 5px;
        margin-left: 8px;
    }
    .nav-up .nav-up-right{
        display: flex;
        margin-top: 7px;
        font-size: 13px;
        margin-left: 350px;
        font-weight: 430;
    }
    .nav-up .nav-up-right{
            cursor: pointer;
    }
    .nav-up .nav-up-right .lang{
        color: white;
    }
    
    .nav-up .nav-up-right .currency{
        margin-left: 25px;
        color: white;
    }
    .nav-up .nav-up-right .set{
        margin-left: 25px;
        color: white;
    }
    #navbar{

    }
    #navbar .nav{
        height: 100px;
        border: 1px solid rgb(198, 196, 196);
    }
    .nav-left{
        margin-top: 30px;
    }
    .nav .search input{
        width: 480px;
        height: 45px;
        border: 1px solid rgb(10, 107, 235);

    }
    .nav .search{
        display: flex;
        margin-top: 20px;
        
    }
    .nav .search .txt{
        margin-left: -190px;
        display: flex;
        
    }
    .nav .search .txt span{
        margin-left: 20px;
        margin-top: 10px;
    }
    .nav .search .txt .chev i{
        margin-left: 10px;
        margin-top: 15px;
    }
    
    .search-icon i{
        height: 45px;
        width: 70px;
        color: white;
        padding-left: 20px;
        padding-top: 6px;
        font-size: 29px;
        background-color: rgb(10, 107, 235);
        margin-left: 10px;
    }
    .search-icon:hover{
        cursor: pointer;
    }

    #navbar-down{
      
    }

    .nav-down .all{
        display: flex;
        height: 50px;
        width: 320px;
        background-color:rgb(10, 107, 235);
    }
    .all:hover{
        background-color: black;
        transition: 0.4s;
        cursor: pointer;
    }
    .all i{
        margin-top: 15px;
        margin-left: 10px;
        color: white;
    }
    .all span{
        margin-top: 10px;
        margin-left: 20px;
        color: white;
    }
    .all .chevron i{
        margin-top: 15px;
        margin-left: 140px;
        color: white;
        font-size: 14px;
    }

    .nav-down .pages{

    }
    .nav-down .pages ul{
        list-style: none;
        display: flex;
        margin-top: 10px;
    }
    .nav-down .pages ul li{
        margin-left: 20px;
    }
    .nav-down .pages ul li .chevron{
        margin-top: 10px;
      
    }
    .nav-down .pages ul li:hover{
        cursor: pointer;
        color:  rgb(10, 107, 235);
        transition: all 0.5s;
    }
    .nav-down .pages ul li a{
        text-decoration: none;
    }
    .phone{
        margin-left: 340px;
        display: flex;
    }
    .phone i{
        margin-top: 16px;
        color:  rgb(10, 107, 235);
    }
    .phone .phone-txt{
        margin-left: 8px;
        font-size: 14px;
    }
    .phone .phone-txt .num{
        display: block;
        font-size: 16px;
    }
    .phone .phone-txt .num:hover{
        cursor: pointer;
        color:  rgb(10, 107, 235);
        transition: all 0.4s;

    }
    #sliders{
        height: 400px;
        width: 100%;
        border: 1px solid black;
    }
    #circle-card{
      margin-top: 50px;  
    }
    #circle-card .container{
        display: flex;
    }
    #circle-card .card{
        width: 150px;
        height: 250px;
        border: none;
        margin-left: 90px;
       
    }
    #circle-card .card h5{
        margin-left: 10px;
        margin-top: 8px;
    }
    #circle-card .card span{
        margin-left: 25px;
        
    }
    #circle-card .card h5:hover{
        cursor: pointer;
        color:  rgb(10, 107, 235);
    }

    #circle-card .cards{
        height: 150px;
        width: 150px;
        border-radius: 50%;
       
        background-color: rgb(204, 218, 238);
    }
    #circle-card .cards:hover img{
        height: 110px;
        width: 110px;
        cursor: pointer;
        margin: 15px;
    }
    #circle-card .cards img{
       margin-top: 18px;
       margin-left: 32px;
    }
    #sliders{
        margin-top: 40px;
    }
    
    #delivery{
        height: 100px;
      
        margin-top: 40px;
    }
    #delivery .box{
        display: flex;
        height: 80px;
        width: 250px;
        background-color: rgb(213, 228, 240);
        margin-left: 30px;
    }
    #delivery .box h5{
        margin-top: 20px;
        font-size: 30px;
        color: rgb(205, 61, 61);
    }
    #delivery .box i{
        margin-top: 20px;
        font-size: 30px;
        color: rgb(205, 61, 61);
    }
    #delivery .box .txt{
        margin-top: 15px;
        margin-left: 8px;
    }
    #trend{
        
    }
    #trend h1{
        margin-top: 70px;
        margin-left: 100px;
    }
    #trend .cards{
       
    }
    #trend .cards .card{
        height: 440px;
        margin-top: 30px;
        width: 300px;
    }
    #trend .cards .card img{
        height: 300px;
        width: 300px;
        background-color: rgb(242, 246, 252);
        
    }
   
    #trend .card .txt-one span{
        margin-top: 10px;
        margin-left: 20px;
        color: rgb(177, 176, 176);
    }
    #trend .card .txt-one span:hover{
        color:rgb(10, 107, 235);
        cursor: pointer;
    }
    #trend .card .txt-two h6{
        margin-left: 20px;
        margin-top: 10px;
        color: rgb(44, 41, 41);
    }
    #trend .card .txt-two h6:hover{
        color:rgb(10, 107, 235);
        cursor: pointer;
    }
    #trend .card .icon-star{
        margin-top: 10px;
        margin-left: 20px;
        color: rgb(242, 182, 32);
        display: flex;
    }
    #trend .card .price{
        margin-top: 10px;
        display: flex;
        margin-left: 20px;
    }
    #trend .card .price .price-first{
        text-decoration: line-through;
    }
    #trend .card .price .price-second{
        margin-left: 7px;
        
    }
    .foot{
        height: 500px;
        width: 100%;
        background-color: rgba(220, 214, 239, 0.81);
        margin-top: 60px;
    }
    
    .foot .shofy{
    
        margin-top: 90px;
    
    }
    .foot .shofy span{
        margin-top: 20px;
        font-size: 19px;
    }
    
    .foot .shofy .social-logo {
       margin-top: 30px;
    }
    .foot .shofy .social-logo i{
       width: 30px;
       height: 30px;
       padding-left: 10px;
       background-color: white;
    }
    
    .foot .shofy .social-logo :hover{
        transition: all 0.4s;
        color: white;
        background-color: rgb(139, 126, 252);
        cursor: pointer;
    
     
     }
     .foot .two{
        margin-top: 90px;
        margin-left: 50px;
    
     }
     .two ul{
       
     }
    
     
     .two ul li a :hover{
        color: rgb(139, 126, 252);
     }
     .two ul li:hover{
        color: rgb(139, 126, 252);
        cursor: pointer;
    }
     .two li {
        margin-top: 12px;
     }
    
     .foot .three{
        margin-top: 90px;
        margin-left: 30px;
     }
     .three ul{
    
    }
    
    .three ul:hover{
       cursor: pointer;
       
    }
    .three ul li a{
    
    }
    .three ul li:hover{
       color: rgb(139, 126, 252);
    }
    .three li {
       margin-top: 12px;
    }
    
    .four{
        margin-top: 90px;
        margin-left: 30px;
    }
    
    .four a{
        color:rgb(109, 107, 107) ;
        margin-top: 20px;
        text-decoration: none;
    }
    .four a:hover{
        cursor: pointer;
        color: rgb(139, 126, 252);
    }
    .end span{
        margin-left: 40px;
    }
    .end img{
        margin-left: 760px;
    }
    