.nav-up{
    height: 50px;
    background-color: white;
    
    }
    .nav-up .nav-up-left{
        display: flex;
        margin-top: 10px;
        font-size: 15px;
        margin-left: -20px;
    }
    .nav-up .nav-up-left :hover{
        display: flex;
        font-size: 15px;
        color:rgb(114, 114, 253);
        transition: all 0.5s;
        cursor: pointer;
    }
    .nav-up .nav-up-left i{
        color: rgb(114, 114, 253);
        margin-left: 10px;
        margin-top: 3.5px;
    }
    .nav-up .nav-up-left span{
        margin-left: 10px;
    }
    .nav-up .nav-up-left .line-one{
        height: 20px;
        width: 1px;
        border: 1px solid rgb(164, 160, 160);
        margin-top: 3px;
        margin-left: 10px;
    }
    
    .nav-up .nav-up-right{
        display: flex;
        margin-top: 10px;
        font-size: 14px;
        margin-left: 380px;
        font-weight: 430;
    }
    .nav-up .nav-up-right{
            cursor: pointer;
    }
    
    .nav-up .nav-up-right .line-two{
        height: 20px;
        width: 1px;
        border: 1px solid rgb(164, 160, 160);
        margin-top: 3px;
        margin-left: 10px;
    }
    .nav-up .nav-up-right .currency{
        margin-left: 15px;
    }
    .nav-up .nav-up-right .set{
        margin-left: 15px;
    }
    
    .navbar{
    width: 100%;
       height: 70px;
       border: 1px solid rgb(202, 197, 197);
       padding: 5px;
       box-shadow: 2px 4px rgb(202, 197, 197);
       position: fixed;
       z-index: 2000;
       background-color: white;
    }
    .navbar .navbar-left {
        display: flex;
    }
    .navbar .navbar-main ul{
        display: flex;
        margin-left: 10px;
        list-style: none;
    
        
    }
    .navbar .navbar-main ul :hover{
           cursor: pointer;
           color:rgb(114, 114, 253);
           transition: all 0.5s;
        
    }
    .navbar .navbar-main i{
        margin-top: 7px;
        font-size: 13px;
        margin-left: 7px;
        color:  rgb(109, 107, 107);
    
    }
    .navbar .navbar-main ul li{
        margin-left: 22px;
    }
    .navbar .navbar-main ul li a{
      text-decoration: none;
      color: black;
    }
    .navbar-right{
        display: flex;
    }
    .navbar-right .icons{
        display: flex;
        font-size: 22px;
    }
    .navbar-right .icons .arrow {
        display: flex;
    }
    .navbar-right .icons .arrow :hover{
        cursor: pointer;
        color: rgba(104, 104, 247, 0.815);
    }

    .navbar-right .icons .arrow .icon-up{
       
        margin-top: 2px;
    }

    .navbar-right .icons .arrow .icon-down{
        margin-left: -1px;
        margin-top: 2px;
    }
    .navbar-right .icons .basket{
        margin-left: 13px;
        margin-top: 2px;
    }
    .navbar-right .icons .basket :hover{
        cursor: pointer;
        color: rgba(104, 104, 247, 0.815);
    }
    .navbar .navbar-right .search{
        margin-left: 240px;
    
    }
    .navbar .navbar-right .search input{
        height: 40px;
        width: 250px;
        
    }
    .navbar .navbar-right .search input i{
          margin-left: 30px;
    }

 
.text{
    margin-left: 90px;
    margin-top: 160px;
   
  }
  .text h4{
      font-size: 40px;
  }
  
  .text-home{
    
     
      
  }
  .txt{
     display: flex;
     margin-left: 90px;
  }
  .text-home a{
      text-decoration: none;
      color:rgb(109, 107, 107) ;
      
  }
  .point{
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: rgb(109, 107, 107);
      margin-top: 11px;
      margin-left: 10px;
  }
  .text-home :hover{
      transition: all 0.6s;
      color:rgb(114, 114, 253);
  }
  .text-account{
      color:rgb(109, 107, 107) ;
    
      margin-left: -20px;
  }

  #center{

  }
  #center .menu{

  }
  .menu .left{

  }

  .menu .left h6{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 19px;
  }
  .left .ranger.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #2495f7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .ranger .txt{
    margin-top: 10px;
    margin-left: 1px;
  }
  .ranger .txt ul{
    list-style: none;
    margin-left: 155px;
  }
  .ranger .txt ul :hover{
     cursor: pointer;
     color: white;
     background-color: black;
     transition: 0.5s;

  }
  .ranger .txt ul li{
    background-color: #d8dbd2;
  }
  .ranger .txt ul li a{
    text-decoration: none;
    border: 1px solid rgb(189, 180, 180);
    color: black;
  }
  .left .product-stat h6{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 19px;
  }
  .left .product-stat .line{
    margin-top: 25px;
    height: 1px;
    width: 250px;
    border: 1px solid rgb(189, 180, 180);
  }
  .left .radio-btn{
    margin-top: 20px;
  }
  .left .categ{

  }
  .left .categ ul :hover{
    cursor: pointer;
    color:rgb(114, 114, 253);
  }
  .left .categ ul li{
   margin-top: 15px;
  }
  .left .categ ul li a{
      text-decoration: none;
      color:rgb(109, 107, 107) ;
  }
  .top-rtt .top{
      display: flex;
  }
  .top-rtt .top img{
    height: 70px;
    width: 70px;
    border: 1px solid grey;
  }
  .star-icon-two{
    margin-left: 10px;
  }
  .star-icon-two i{
    color: rgb(250, 182, 9);
    
  }
  

  .menu .right{
      
    width: 100%;
    height: 100%;
   
  }
.right .icon-up{
    margin-left: 20px;
    margin-top: 15px;

}
.right .icon-up i{
    margin-left: 20px;
    font-size: 22px;
    color: rgb(189, 180, 180);
    width: 40px;
    height: 40px;
    border: 1px solid rgb(189, 180, 180);
    padding-left: 8px;
    padding-top: 7px;
}
.right .icon-up i:hover{
     cursor: pointer;
     border: 1px solid black;
     color: black;
}
.right .icon-up h6{
    border: 1px solid rgb(189, 180, 180) ;
    margin-left: 450px;
    display: inline-block;
}
.right .icon-up h6 :hover{
    cursor: pointer;
}
.card{
    height: 450px;
    width: 250px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}
.card img{
    width: 250px;
    height: 300px;
    background-color: #d8dbd2;

}
.card .card-txt .txt-one{
    color: rgb(189, 180, 180) ;
}
.card .card-txt .txt-one :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.txt-two{
    color: rgb(189, 180, 180) ;
    font-size: 20px;
}
.txt-two{
    color: rgb(189, 180, 180) ;
}
.card .card-txt .txt-two :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.icon-star{
    color: rgb(250, 182, 9);
}
.price{
    margin-top: 10px;
    display: flex;
}
.price .price-first{
    text-decoration: line-through;
}
.price .price-second{
    margin-left: 10px;
}

.card-two{
    height: 450px;
    width: 250px;
    margin-left: 115px;
    margin-top: 20px;
}
.card-two img{
    width: 250px;
    height: 300px;
    background-color: #d8dbd2;

}
.card-two .card-txt .txt-one{
    color: rgb(189, 180, 180) ;
}
.card-two .card-txt .txt-one :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.txt-two{
    color: rgb(189, 180, 180) ;
}
.card-two .card-txt .txt-two :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.icon-star{
    color: rgb(250, 182, 9);
}
.price{
    margin-top: 10px;
    display: flex;
}
.price .price-first{
    text-decoration: line-through;
}
.price .price-second{
    margin-left: 10px;
}  

.card-three{
    height: 450px;
    width: 250px;
    margin-left: 180px;
    margin-top: 20px;
}
.card-three img{
    width: 250px;
    height: 300px;
    background-color: #d8dbd2;

}
.card-three .card-txt .txt-one{
    color: rgb(189, 180, 180) ;
}
.card-three .card-txt .txt-one :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.txt-two{
    color: rgb(189, 180, 180) ;
}
.card-three .card-txt .txt-two :hover{
    transition: all 0.6s;
    color:rgb(114, 114, 253);
    cursor: pointer;
}
.icon-star{
    color: rgb(250, 182, 9);
}
.price{
    margin-top: 10px;
    display: flex;
}
.price .price-first{
    text-decoration: line-through;
}
.price .price-second{
    margin-left: 10px;
}
.right .page ul{
    display: flex;
    list-style: none;
}
.right .page ul li {
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 12px;
    padding-top: 4px ;
    height: 35px;
    width: 35px;
    border: 1px solid rgb(189, 180, 180);
    font-weight: 500;

}

.right .page ul :hover{
    cursor: pointer;
    background-color:  rgba(64, 64, 247, 0.815);
    color: white;
}
.foot{
    height: 500px;
    width: 100%;
    background-color: rgba(220, 214, 239, 0.81);
    margin-top: 60px;
}

.foot .shofy{

    margin-top: 90px;

}
.foot .shofy span{
    margin-top: 20px;
    font-size: 19px;
}

.foot .shofy .social-logo {
   margin-top: 30px;
}
.foot .shofy .social-logo i{
   width: 30px;
   height: 30px;
   padding-left: 10px;
   background-color: white;
}

.foot .shofy .social-logo :hover{
    transition: all 0.4s;
    color: white;
    background-color: rgb(139, 126, 252);
    cursor: pointer;

 
 }
 .foot .two{
    margin-top: 90px;
    margin-left: 50px;

 }
 .two ul{

 }

 .two ul:hover{
    cursor: pointer;
    
 }
 .two ul li a{

 }
 .two ul li :hover{
    color: rgb(139, 126, 252);
    cursor: pointer;
}
 .two li {
    margin-top: 12px;
 }

 .foot .three{
    margin-top: 90px;
    margin-left: 30px;
 }
 .three ul{

}

.three ul:hover{
   cursor: pointer;
   
}
.three ul li a{

}
.three ul li a :hover{
   color: rgb(139, 126, 252);
}
.three li {
   margin-top: 12px;
}

.four{
    margin-top: 90px;
    margin-left: 30px;
}

.four a{
    color:rgb(109, 107, 107) ;
    margin-top: 20px;
    text-decoration: none;
}
.end span{
    margin-left: 40px;
}
.end img{
    margin-left: 760px;
}
